{% extends 'base.html.twig'%}

{% block title %}
A propos
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="container mt-5">
            <h1>Projet 4 </h1>
            <h2>Billetterie du Louvre</h2>
            <h3>Contexte du projet</h3>

            <p>Le musée du Louvre vous a missionné pour un projet ambitieux : créer un nouveau système de
                réservation et de gestion des tickets en ligne pour diminuer les longues files d’attente et tirer
                parti de l’usage croissant des smartphones.
            </p>
            <hr>
        </div>
        <div class="container mt-2">
            <h3>Mise en production</h3>
            <div class="row mt-4">
                <div class="col-md-4">
                    <h5>Utilisation de frameworks</h5>
                    <ul>
                        <li>Symfony 4.2</li>
                        <li>Bootstrap</li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Utilisation d'API</h5>
                    <ul>
                        <li>Stripe</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Utilisation des langages</h5>
                    <ul>
                        <li>PHP</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>jQuery</li>
                        <li>Twig</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container mt-2">
            <h3>Architecture du site</h3>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">1 _ Page d'accueil</div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li> <a href="">Infos</a></li>
                                    <li><a href="">Commander vos billets</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-2">
                        <div class="card-header">2 _ Réservation de vos billets</div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li>Date de visite </li>
                                    <li>email de réservation</li>
                                    <li>nombre de billet</li>
                                    <li>Type de billet</li>
                                    <li><a href="">Saisir les informations de billet</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-2">
                        <div class="card-header">3 _ Saisi des informations</div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li>Nom de famille</li>
                                    <li>Prénom</li>
                                    <li>Date de naissance</li>
                                    <li>Pays de résidence</li>
                                    <li>Tarif réduit</li>
                                    <li><a href="">Enregistrer les billets</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-2">
                        <div class="card-header">4 _ Vérification de la commande</div>
                        <div class="card-body">
                            <p class="card-text">
                                Affichage du récapitulatif de la commande
                                <ul>
                                    <li><a href="">Modifier les informations de réservation</a></li>
                                    <li><a href="">Pay with card</a></li>
                                </ul>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-2">
                        <div class="card-header">5 _ Paiement Carte Bleu avec Stripe</div>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li>email de réservation</li>
                                    <li>N° de carte Bleu</li>
                                    <li>Date d'expiration</li>
                                    <li>CVC</li>
                                    <li>Code postal</li>
                                    <li><a href="">Payer 00,0 € </a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <h3>Récupérer le projet</h3>

            <p>Pour cloner le projet <a href="https://github.com/illaweb35/repo_Ticketing.git">repo GitHub</a></p>

            <p> Vous avez la choix entre télécharger le zip ou cloner le repo.</p>
            <p>
                Une fois le repository chargé sur votre ordinateur, ouvrez votre dossier avec votre éditeur de code
                favori,
                et
                ouvrez un terminal dans le dossier du repo.
            </p>
            <p>Puis entrer les intructions suivantes:
                <ol>
                    <li>
                        <pre>composer install</pre>
                    </li>
                    <p>pour charger les composants nécessaires au fonctionnement de symfony</p>
                    <li>
                        <pre>composer update</pre>
                    </li>
                    <p>pour faire une mise a jour des composants</p>
                </ol>
            </p>
        </div>

        <hr>

        <div class="container">
            <h5>Paramètres de l'application</h5>
            <div class="row mt-3">
                <div class="col-md-4">
                    <h6>Base de données</h6>
                    <p>La base de données utilisée pour le projet est de type SQlite et se trouve dans le dossier
                        "Var
                        ->
                        data.db".
                    </p>
                    <p>Les intructions de connexion sont dans le dossier ".env" à la ligne :</p>
                    <pre><small>DATABASE_URL=sqlite:///%kernel.project_dir%/var/data.db</small></pre>
                </div>
                <div class="col-md-4">
                    <h6>Modification base de données</h6>
                    <p>Si vous souhaitez utiliser une base de données MySql veuillez changer les informations de
                        connexion
                        de la
                        base de donnée dans le fichier ".env"</p>
                    <pre><small>DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name"</small></pre>
                    <hr>
                </div>
                <div class="col-md-4">
                    <h6>Email</h6>
                    <p>Instruction pour l'envoi d'email avec switfmailer modifier la ligne suivante dans le fichier
                        ".env"
                    </p>
                    <pre><small>MAILER_URL=smtp://localhost:25?encryption=&auth_mode=</small></pre>
                </div>
            </div>
        </div>
        <hr>
        <h4>Maintenant à vous de jouer !!</h4>
    </div>
</section>
{% endblock %}