<footer class="footer">
    <div class="container text-center">
        <p>produit par <a href="https://www.illaweb.fr" target="_blank">illaweb</a>© {{ "now"|date("Y") }} pour le
            projet 4 d'OpenClassrooms</p>
    </div>
</footer>